body {
    font-family: 'Yeseva One', cursive;
    margin: none;
}

.header {
    display: flex;
}

h1 {
    font-size: 60px;
}

.red-color {
    color: #FFAD5A;
}

.header-part {
    width: 50%;
    padding: 5%;
    padding-left: 150;
}

.header-part img {
    width: 80%;
    padding-right: 150px;
    padding-left: 10%;

}

.header-para {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.link-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;

}

.header-para2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}