body {
    font-family: 'Yeseva One', cursive;
    margin: none;
}

.header {
    display: flex;
}

h1 {
    font-size: 60px;
}

.red-color {
    color: #FFAD5A;
}

.header-part {
    width: 50%;
    padding: 5%;
    padding-left: 150;
}

.header-part img {
    width: 80%;
    padding-right: 150px;
    padding-left: 10%;

}

.header-para {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.link-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;

}

.header-para2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.my-mission-in {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

.mission-color {
    color: #13103A;
}

.color-2022 {
    color: #FFAD5A;
}

.se-part {
    display: flex;
}

.mi-color {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #000000;
}

.mi-width {
    width: 33%;
    padding: 5%;
    padding-left: 30px;
}

.mi-p-color {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #424242;
}

.vi-width {
    width: 50%;
    padding: 5%;
    padding-left: 30px;
}

.vi-color {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #000000;
}


.vi-p-color {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #424242;
}

.go-width {
    width: 50%;
    padding: 5%;
    padding-left: 30px;

}

.go-color {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #000000;
}

.go-p-color {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #424242;
}

.m-b-c {
    background-color: #EDF5F6;
    margin-left: 5%;
    margin-right: 0%;
    border-radius: 20px;
}

.v-b-c {
    background-color: #FFEEEE;
    margin-left: 5%;
    margin-right: 0%;
    border-radius: 20px;
}

.o-b-c {
    background-color: #FFF4D6;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}

.illustration1 {
    width: 60%;
    padding-left: 0%;
}

.illustration2 {
    width: 60%;
    padding-left: 0%;
}

.illustration3 {
    width: 60%;
    padding-left: 0%;
}